{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="mt-auto mx-auto w-fit border rounded-lg p-5 bg-primary-color text-secondary-color">
        {% if app.user %}
            <div class="mb-3">
{#                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="text-3xl mb-5 text-center">Connexion</h1>
        <table class="border-separate border-spacing-2 mx-auto">
            <tbody>
                <tr>
                    <td>
                        <label for="username">Email</label>
                    </td>
                    <td>
                        <input
                            type="email"
                            value="{{ last_username }}"
                            name="_username"
                            id="username"
                            class="border bg-secondary-color"
                            autocomplete="email"
                            required
                            autofocus
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Mot de passe</label>
                    </td>
                    <td>
                        <input
                            type="password"
                            name="_password"
                            id="password"
                            class="border bg-secondary-color"
                            autocomplete="current-password"
                            required
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="text-sm text-tertiary-color text-center block mt-3" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}

        {% if error %}
            <div class="text-primary-accent-color text-center">
                {{ error.message }}
{#                {{ error.messageKey|trans(error.messageData, 'security') }}#}
            </div>
        {% endif %}

        <button class="text-center w-fit mx-auto block bg-tertiary-color hover:bg-tertiary-hover-color text-secondary-color px-4 py-2 rounded mt-5" type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}
