{#<nav class="mb-5">#}
{#    <ul class="flex flex-wrap">#}
{#        <li class="inline underline"><a href="{{ path('app_index') }}">Accueil</a></li>#}
{#        <li class="inline ml-2 underline"><a href="{{ path('app_product_index') }}">Produit</a></li>#}
{#        <li class="inline ml-2 underline"><a href="{{ path('app_product_category_index') }}">Category Produit</a></li>#}
{#        {% if is_granted('ROLE_USER') %}#}
{#            <li class="inline ml-auto underline"><a href="#">{{ app.user.email }}</a></li>#}
{#            <li class="inline ml-2 underline"><a href="{{ path('app_order_show') }}">Panier</a></li>#}
{#            <li class="inline ml-2 underline"><a href="{{ path('app_logout') }}">Déconnexion</a></li>#}
{#        {% else %}#}
{#            <li class="inline ml-auto underline"><a href="{{ path('app_login') }}">Connexion</a></li>#}
{#        {% endif %}#}
{#    </ul>#}
{#</nav>#}

<header class="bg-primary-color text-secondary-color p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <a href="{{ path('app_index') }}" class="flex items-center">
                <img src="images/bytemeuh.webp" alt="Logo Bytemeuh" class="h-12 w-12 mr-2">
                <span class="text-xl font-bold">Bytemeuh</span>
            </a>
        </div>
        <nav class="flex space-x-4">
            <a href="/qui-sommes-nous" class="bg-tertiary-color hover:bg-tertiary-hover-color text-secondary-color px-4 py-2 rounded">Qui sommes-nous ?</a>
            <a href="/categories" class="bg-tertiary-color hover:bg-tertiary-hover-color text-secondary-color px-4 py-2 rounded">Catégories</a>
            <a href="/articles" class="bg-tertiary-color hover:bg-tertiary-hover-color text-secondary-color px-4 py-2 rounded">Articles</a>
        </nav>
        <div>
            {% if app.user %}
                <a href="/mon-compte" class="bg-tertiary-color hover:bg-tertiary-hover-color text-secondary-color px-4 py-2 rounded">Mon compte</a>
                <a href="{{ path('app_logout') }}" class="bg-tertiary-color hover:bg-tertiary-hover-color text-secondary-color px-4 py-2 rounded">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="bg-tertiary-color hover:bg-tertiary-hover-color text-secondary-color px-4 py-2 rounded">Se connecter</a>
            {% endif %}
        </div>
    </div>
</header>